@model Modulo_Facturacion.Models.Asiento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Asiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdentificadorAsiento" class="control-label"></label>
                <input asp-for="IdentificadorAsiento" class="form-control" />
                <span asp-validation-for="IdentificadorAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAsiento" class="control-label"></label>
                <input asp-for="FechaAsiento" class="form-control" />
                <span asp-validation-for="FechaAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificadorCuenta" class="control-label"></label>
                <input asp-for="IdentificadorCuenta" class="form-control" />
                <span asp-validation-for="IdentificadorCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimiento" class="control-label"></label>
                <input asp-for="TipoMovimiento" class="form-control" />
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoAsiento" class="control-label"></label>
                <input asp-for="MontoAsiento" class="form-control" />
                <span asp-validation-for="MontoAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

